
//
// VARIABLES
//

// Colors /red
$blue: #8B0000;

// Grays/ avori
$black: #580000;
$darkerGray: #080806;
$darkGray: #1f1c17;
$gray: #4b4639;
$lightGray: #6d6552;
$white: #fffff0;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
