
//
// VARIABLES
//

// Colors 
$blue: #8B0000;// red

// Grays
$black: #580000; // darker red
$darkerGray: #580000; //#080806;
$darkGray: #1f1c17;
$gray: #4b4639;
$lightGray: #113820; //green #2a360f #1e3f35
$white: #ffffed; //#fffff0

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
